<ion-header>
    <ion-toolbar>
        <ion-title>Exam dates</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="members/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="exams?.length" class="container">
        <div class="row" *ngFor="let exam of exams; let i = index">
            <div class="toggle mb-2">
                <h3 id="{{'term'+i}}" (click)="toggle(i)"><span class="plus" id="{{'plus'+i}}">+</span>{{exam.term | uppercase}}</h3>
                <div id="{{'exam-details-'+i}}" style="display: none;">
                    <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                            <table>
                                <tr>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                </tr>
                                <tr *ngFor="let subject of exam.subjects">
                                    <td>{{subject.subject | uppercase}}</td>
                                    <td>{{subject.date}}</td>
                                    <td>{{getTime(subject['start-time'])}}</td>
                                    <td>{{getTime(subject['end-time'])}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>