<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News & Events
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="members/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="background-primary" [fullscreen]="true">
  <div class="event-card"  *ngFor="let item of eventData; let i = index">
    <p>
      {{item.event}}
      <br><span>{{item.eventTiming}}</span>
    </p>
    <!-- <img src="../../../assets/11-119684_calendar-empty-ultrathin-page-comments-calendar-icon-line-png.png"> -->
    <span class="cal"><span class="day">{{item.eventDate}}</span> <br><span class="year">{{item.eventMonthYear}}</span> </span>
    <span>{{item.eventType}}</span>
    <ion-icon name="images"></ion-icon>
    <!-- <span class="imgCount">10</span> -->
  </div>
  

  
</ion-content>



