<ion-header>
  <ion-toolbar>
    <ion-title>Report-card</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="members/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row" *ngFor="let examMark of examMarks">
      <div *ngFor="let examName of objectKeys(examMark)">
        <div class="toggle mb-2">
          <h3><span class="plus">+</span>{{examName}}</h3>
          <div style="display: none;">
            <div class="wpb_text_column wpb_content_element">
              <div class="wpb_wrapper">
                <table>
                  <tr>
                    <th>Subject</th>
                    <th>Mark</th>
                  
                  </tr>
                  <tr *ngFor="let subject of objectKeys(examMark[examName])">
                    <td>{{subject}}</td>
                    <td>{{examMark[examName][subject]}}</td>
                
                  </tr>
               
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
