<ion-header>
  <ion-toolbar>
    <ion-title>Exam-syllabus</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="syllabus-details"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngFor="let subject of subjects">
      <div class="toggle mb-2">
        <h3><span class="plus">+</span>{{subject}}</h3>
        <div style="display: none;">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              {{subjectSyllabus[subject]}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>