<ion-header>
  <ion-toolbar>
    <ion-title>Exam-syllabus</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="syllabus-details"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngFor="let examDetail of examSyllabusDetails; let i = index">
      <div class="toggle mb-2">
        <h3 id="{{'term'+i}}" (click)="toggle(i)"><span class="plus" id="{{'plus'+i}}">+</span>{{examDetail.subject | uppercase}}</h3>
        <div id="{{'exam-details-'+i}}" style="display: none;">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              {{examDetail.syllabus}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>