<ion-header>
  <ion-toolbar>
    <ion-title>Fees Details</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="members/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table align="center">
    <tr *ngFor="let feesDetail of feesDetails.splitup">
       <td>{{feesDetail.name}}</td>
       <td>Rs.{{feesDetail.amount}}/-</td>
    </tr>
    <tr *ngIf="feesDetails.fees" class="total">
      <td>Total</td>
      <td>Rs.{{feesDetails.fees}}/-</td>
   </tr>
   <tr *ngIf="!feesDetails.fees" class="total">
    <td>Fees not Found</td>
 </tr>
 </table>

</ion-content>
