<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="members/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-primary" [fullscreen]="true">
  <ion-grid class="time-table" size="12">
    <ion-row>
      <ion-col class="days" *ngFor="let day of days" size="2">
        {{day}}
      </ion-col>
    </ion-row>
    <ion-row class="outer-border">
      <ion-col *ngFor="let subject of periods" size="2">
        <ion-row class="days border">
          <span>{{subject[0]}}</span>
          <span class="timing">({{periodTimings[0]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[1]}}</span>
          <span class="timing">({{periodTimings[1]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[2]}}</span>
          <span class="timing">({{periodTimings[2]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[3]}}</span>
          <span class="timing">({{periodTimings[3]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>Break</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[4]}}</span>
          <span class="timing">({{periodTimings[4]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[5]}}</span>
          <span class="timing">({{periodTimings[5]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[6]}}</span>
          <span class="timing">({{periodTimings[6]}})</span>
        </ion-row>
        <ion-row class="days border">
          <span>{{subject[7]}}</span>
          <span class="timing">({{periodTimings[7]}})</span>
        </ion-row>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>