<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="members/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="background-primary" [fullscreen]="true">
    <ion-grid class="time-table" size="12">
      <ion-row>
        <ion-col class="days" *ngFor="let day of ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat']" size="2">
          {{day}}
        </ion-col>
      </ion-row>
      <ion-row class="outer-border">
        <ion-col *ngFor="let subject of [1,2,3,4,5,6]" size="2">
          <ion-row class="days border">
            <span>Tam</span>
            <span class="timing">9.30-10.15</span>
          </ion-row>
          <ion-row class="days border">
            <span>Eng</span>
            <span class="timing">10.15-11.00</span>
          </ion-row>
          <ion-row class="days border">
            <span>Mat</span>
            <span class="timing">11.10-11.55</span>
          </ion-row>
          <ion-row class="days border">
            <span>Sci</span>
            <span class="timing">11.55-12.40</span>
          </ion-row>
          <ion-row class="days border">
            <span>Break</span>
          </ion-row>
          <ion-row class="days border">
            <span>S.Sci</span>
            <span class="timing">1.30-2.15</span>
          </ion-row>
          <ion-row class="days border">
            <span>PET</span>
            <span class="timing">2.15-3.00</span>
          </ion-row>
          <ion-row class="days border">
            <p>M.I<br /></p>
            <span class="timing">3.10-3.55</span>
          </ion-row>
          <ion-row class="days border">
            <span>Tam</span>
            <span class="timing">3.55-4.30</span>
          </ion-row>
        </ion-col>
      </ion-row>

   
  </ion-grid>
</ion-content>
