<ion-app>
  <!-- <ion-menu> -->
  <nav id="menu-bar" class="menu" tabindex="0">
    <div class="smartphone-menu-trigger">
      <ion-icon class="menu-bar" name="menu-outline"></ion-icon>
    </div>
    <h2 class="username">Welcome {{user.username}}</h2>

    <div class="circle">
      <div class="ring">
        <ion-icon class="menuItem" (click)="logout()" name="log-out-outline"></ion-icon>
        <ion-icon class="menuItem" name="camera"></ion-icon>
        <ion-icon class="menuItem" name="key"></ion-icon>
        <ion-icon class="menuItem" name="call"></ion-icon>
        <ion-icon class="menuItem" name="mail"></ion-icon>
      </div>
      <header class="center" (click)="editProfile()">
        <img src="../assets/student.jpeg" />
      </header>
    </div>

    <ion-row>
      <ion-col size=2>
        <ion-icon name="person-outline"></ion-icon>
      </ion-col>
      <ion-col>{{user.student_name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=2>
        <ion-icon name="bookmarks-outline"></ion-icon>
      </ion-col>
      <ion-col>{{user.class}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=2>
        <ion-icon name="call-outline"></ion-icon>
      </ion-col>
      <ion-col>{{user.phone}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=2>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-col>
      <ion-col>{{user.email}}</ion-col>
    </ion-row>
  </nav>
  <ion-router-outlet id="main">
  </ion-router-outlet>
    <ion-tabs id="tabs-bar">
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="home-tab tab-selected" (click)="addClass()" tab="members/home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="homework">
          <ion-icon name="book-outline"></ion-icon>
          <ion-label>Homework</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="timetable">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Timetable</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-app>