<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <div class="square" (click)="goToPage('homework-details')">
          <ion-icon name="book-outline"></ion-icon><br />
          <span>Homework</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="square" (click)="goToPage('timetable')">
          <ion-icon name="time-outline"></ion-icon><br />
          <span>Timetable</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="square" (click)="goToPage('eventspage')">
          <ion-icon name="newspaper-outline"></ion-icon><br />
          <span>News & Events</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="square" (click)="goToPage('exam-dates')">
          <ion-icon name="calendar-outline"></ion-icon><br />
          <span>Exam Dates</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="square" (click)="goToPage('attendence')">
          <ion-icon name="hand-left-outline"></ion-icon><br />
          <span>Attendence</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="square" (click)="goToPage('performance')">
          <ion-icon name="bar-chart-outline"></ion-icon><br />
          <span>Performance</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="square" (click)="goToPage('report-card')">
          <ion-icon name="medal-outline"></ion-icon><br />
          <span>Report Card</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="square" (click)="goToPage('syllabus-details')">
          <ion-icon name="bookmarks-outline"></ion-icon><br />
          <span>Exam Syllabus</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="square" (click)="goToPage('teachers-details')">
          <ion-icon name="people-outline"></ion-icon><br />
          <span>Teachers Details</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="square" (click)="goToPage('fees-details')">
          <ion-icon name="cash-outline"></ion-icon><br />
          <span>Fees Details</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="square" (click)="goToPage('about-school')">
          <ion-icon name="alert-circle-outline"></ion-icon><br />
          <span>About School</span>
        </div>
      </ion-col>
      <ion-col>
        <div class="square" (click)="goToPage('feedback')">
          <ion-icon name="thumbs-up-outline"></ion-icon><br />
          <span>Feedback</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>