// ::ng-deep {
//     .menu {
//     display: none!important;
// }
// }
.card-center {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

ion-icon {
    color: var(--ion-color-primary);
    font-size: 1.5rem;
}

.bottom {
    border-bottom: 1px solid var(--ion-color-primary);
}

h2 {
    margin-top: 6rem;
    text-align: center;
    color: var(--ion-color-primary);
}
p {
    text-align: end;
    color: var(--ion-color-primary);
}

ion-label {
    color: #9E9E9E!important;
}

ion-card {
    border: 1px solid var(--ion-color-primary);
}