ion-title {
    text-align: center;
    padding-left: 4rem;
}

ion-card-header {
    border-bottom: 1px solid black;
    color: black;
    text-align: center;
    font-size: 1.3rem;
}

ion-icon {
    color: red;
    font-size: 1.3rem;
}

span {
    font-size: 1rem;
}

ion-row {
    margin: 10px;
}
